<div class="main-content">
    <!-- Bengin content -->
    <div class="content-left">
        <section class="section">
          <div class="section-content">
              <div class="block">
              <div class="column-new-1">
                  <article class="post type-post">
              <figure class="post-thumb">
                  <a href="#" class="thumb thumb5x3">
                      <picture>
                          <source srcset="images/thumb5x3.jpg">
                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                      </picture>
                  </a>
              </figure>
              <div class="post-inner grid">
                  <header class="entry-header">
                      <h2 class="entry-title font-h2">
                          <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                      </h2>
                  </header>
                  <div class="entry-summary">
                      <p>Danh sách những tuổi may mắn công việc nhất ngày 28/12/2022 chỉ ra 4 con giáp đi làm suôn sẻ, thắng lớn, gặp hung cũng hóa cát. </p>
                  </div>
                  <footer class="entry-meta">
                      <span class="post-date">20/12/2021</span> 
                  </footer>
              </div>
          </article>
              </div>
              <div class="column-new-2">
                  <article class="post type-post">
                          <figure class="post-thumb thumb-r140">
                              <a href="#" class="thumb thumb5x3">
                                  <picture>
                                      <source srcset="images/thumb5x3.jpg">
                                      <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                  </picture>
                              </a>
                          </figure>
                      <div class="post-inner grid">
                  <header class="entry-header">
                      <h3 class="entry-title">
                          <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                      </h3>
                  </header>
                  <footer class="entry-meta">
                      <span class="post-date">20/12/2021</span> 
                  </footer>
              </div>
          </article>
                  <article class="post type-post">
                          <figure class="post-thumb thumb-r140">
                              <a href="#" class="thumb thumb5x3">
                                  <picture>
                                      <source srcset="images/thumb5x3.jpg">
                                      <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                  </picture>
                              </a>
                          </figure>
                      <div class="post-inner grid">
                  <header class="entry-header">
                      <h3 class="entry-title">
                          <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                      </h3>
                  </header>
                  <footer class="entry-meta">
                      <span class="post-date">20/12/2021</span> 
                  </footer>
              </div>
          </article>
                  <article class="post type-post">
                          <figure class="post-thumb thumb-r140 hidden-pc">
                              <a href="#" class="thumb thumb5x3">
                                  <picture>
                                      <source srcset="images/thumb5x3.jpg">
                                      <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                  </picture>
                              </a>
                          </figure>
                      <div class="post-inner grid">
                  <header class="entry-header">
                      <h3 class="entry-title">
                          <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                      </h3>
                  </header>
                  <footer class="entry-meta">
                      <span class="post-date">20/12/2021</span> 
                  </footer>
              </div>
          </article>
                  <article class="post type-post">
                          <figure class="post-thumb thumb-r140 hidden-pc">
                              <a href="#" class="thumb thumb5x3">
                                  <picture>
                                      <source srcset="images/thumb5x3.jpg">
                                      <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                  </picture>
                              </a>
                          </figure>
                      <div class="post-inner grid">
                  <header class="entry-header">
                      <h3 class="entry-title">
                          <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                      </h3>
                  </header>
                  <footer class="entry-meta">
                      <span class="post-date">20/12/2021</span> 
                  </footer>
              </div>
          </article>
              </div>
              </div>
              <div class="block-banner">
                    <img alt="" src="images/qc-auto.png">
                </div>
              <div class="block m-hiden-summary">
                      <article class="post type-post">
                              <figure class="post-thumb thumb-r220">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title font-h3">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                              <div class="entry-summary">
                      <p>Danh sách những tuổi may mắn công việc nhất ngày 28/12/2022 chỉ ra 4 con giáp đi làm suôn sẻ, thắng lớn, gặp hung cũng hóa cát. </p>
                  </div>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
                      <article class="post type-post">
                              <figure class="post-thumb thumb-r220">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title font-h3">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                              <div class="entry-summary">
                      <p>Danh sách những tuổi may mắn công việc nhất ngày 28/12/2022 chỉ ra 4 con giáp đi làm suôn sẻ, thắng lớn, gặp hung cũng hóa cát. </p>
                  </div>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
                      <article class="post type-post">
                              <figure class="post-thumb thumb-r220">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title font-h3">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                              <div class="entry-summary">
                      <p>Danh sách những tuổi may mắn công việc nhất ngày 28/12/2022 chỉ ra 4 con giáp đi làm suôn sẻ, thắng lớn, gặp hung cũng hóa cát. </p>
                  </div>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
                      <article class="post type-post">
                              <figure class="post-thumb thumb-r220">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title font-h3">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                              <div class="entry-summary">
                      <p>Danh sách những tuổi may mắn công việc nhất ngày 28/12/2022 chỉ ra 4 con giáp đi làm suôn sẻ, thắng lớn, gặp hung cũng hóa cát. </p>
                  </div>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r220">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title font-h3">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                              <div class="entry-summary">
                      <p>Danh sách những tuổi may mắn công việc nhất ngày 28/12/2022 chỉ ra 4 con giáp đi làm suôn sẻ, thắng lớn, gặp hung cũng hóa cát. </p>
                  </div>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
              </div>
          </div>
       </section>
       
       
    </div>
    <!-- End content -->
    <!-- Bengin sidebar-right -->
    <aside class="sidebar-right">
        <div class="sidebar">
              <div class="adv">
                    <img alt="" src="images/300x250.png">
                </div>
          </div>
         <div class="sidebar">
              <div class="box-caleandar fix-font">
                          <div class="box-lich-duong">
                              <div class="text-thang-nam">Tháng 01 Năm 2023</div>
                              <div class="text-ngay">06</div>
                              <div class="text-thu">Thứ Sáu</div>
                              <div class="text-event">- Tổng tuyển cử quốc hội khóa đầu tiên của nước Việt Nam (6.1.1946) -</div>
                              <div class="text-danh-ngon">"Lấp không đầy là lòng ham muốn, phá không vỡ là thành u sầu." <em><strong>(George Sand - Pháp)</strong></em></div>
                          </div>
                          <div class="box-lich-am">
                              <div class="text-lich-am"><span>LỊCH ÂM</span></div>
                              <div class="flex-am">
                                  <div class="col-am-1">
                                      <p><strong>Ngày Thường</strong></p>
                                      <p><strong>Năm Nhâm Dần</strong></p>
                                      <p>Tháng Quý Sửu</p>
                                      <p>Ngày Giáp Tý</p>
                                      <p>Tiết khí: Tiểu Hàn</p>
                                      <p>Giờ Giáp Tý</p>
                                      <p>10:31:00</p>
                                  </div>
                                  <div class="col-am-2">
                                      <div class="text-am-ngay">15</div>
                                      <div class="text-am-thang">Tháng 12</div>
                                      <div class="text-am-nam">2022</div>
                                  </div>
                                  <div class="col-am-3">
                                      <p><strong>Giờ Hoàng Đạo:</strong></p>
                                      <p>Tý (23h - 1h) </p>	
                                      <p>Sửu (1h - 3h) </p>	
                                      <p>	Mão (5h - 7h)</p>
                                      <p>Ngọ (11h - 13h) </p>
                                      <p>	Thân (15h - 17h)</p>
                                      <p>Dậu (17h - 19h)</p>
                                  </div>
                              </div>
                          </div>
                          <div class="nex-arrow-day">
                              <span class="arrow-day arrow-day-left">❮</span>
                              <span class="arrow-day arrow-day-right">❯</span>
                          </div>
                      </div>
          </div>
          <div class="sidebar">
                  <header class="sidebar-header">
                  <h2 class="head-text">Đọc nhiều</h2>
              </header>
              <div class="sidebar-content">
                      <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                  </div>
              </article>
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                  </div>
              </article>
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                  </div>
              </article>
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                  </div>
              </article>
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                  </div>
              </article>
              </div>
          </div>
        </aside>
    <!-- End sidebar-right --> 
        <div class="layout-grid-2">
           <section class="section">
              <header class="section-header">
                  <h2><a href="#">Tử Vi</a></h2>
              </header>
              <div class="section-content">
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
              </div>
               <div class="div-more"><a href="#">Xem thêm <i class="fas fa-arrow-right"></i></a></div>
          </section>
           
          <section class="section">
                  <header class="section-header">
                      <h2><a href="#">Cung Hoàng Đạo</a></h2>
                  </header>
                  <div class="section-content">
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
              </div>
              <div class="div-more"><a href="#">Xem thêm <i class="fas fa-arrow-right"></i></a></div>
          </section>
             </div>
       <div class="layout-grid-3">
           
          <section class="section">
              <header class="section-header">
                  <h2><a href="#">Phong Thủy</a></h2>
              </header>
              <div class="section-content">
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
              </div>
              <div class="div-more"><a href="#">Xem thêm <i class="fas fa-arrow-right"></i></a></div>
          </section>
           
          <section class="section">
                  <header class="section-header">
                      <h2><a href="#">Nhân Tướng Học</a></h2>
                  </header>
                  <div class="section-content">
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
              </div>
              <div class="div-more"><a href="#">Xem thêm <i class="fas fa-arrow-right"></i></a></div>
          </section>
           <section class="section">
                  <header class="section-header">
                      <h2><a href="#">Xem Bói</a></h2>
                  </header>
                  <div class="section-content">
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
                  <article class="post type-post">
                              <figure class="post-thumb thumb-r100">
                                  <a href="#" class="thumb thumb5x3">
                                      <picture>
                                          <source srcset="images/thumb5x3.jpg">
                                          <img class="post-image" alt="post-image" src="images/thumb5x3.jpg">
                                      </picture>
                                  </a>
                              </figure>
                          <div class="post-inner grid">
                      <header class="entry-header">
                          <h3 class="entry-title">
                              <a href="#">Trong ngày 28/12/2022, chúc mừng 4 tuổi sau làm ăn may mắn, buôn may bán đắt</a>
                          </h3>
                      </header>
                      <footer class="entry-meta">
                          <span class="post-date">20/12/2021</span> 
                      </footer>
                  </div>
              </article>
              </div>
               <div class="div-more"><a href="#">Xem thêm <i class="fas fa-arrow-right"></i></a></div>
          </section>
       </div>
  </div>