<!DOCTYPE html>
<html lang="vi">
<head>
<meta charset="utf-8">
<title>Xem Tử Vi - Xem Lịch Âm Dương - Xem Ngày Tốt Xấu</title>
<meta name="description" content="Xem Tử Vi, Xem Lịch Âm Dương, Xem Ngày Tốt Xấu, tu vi, lich van nien, xem tử vi 12 con giáp, 12 cung hoàng đạo, xem ngày tốt, Tra cứu lịch âm, Xem tuổi, Phong thủy" />
<meta name="keywords" content="Xem Tử Vi, Xem Lịch Âm Dương, Xem Ngày Tốt Xấu, tu vi, lich van nien" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="https://saotuvi.com/" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<!-- font/icon -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<!-- css -->
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <%- include('partials/header') %>
<!-- Bengin nav_header -->
  <!-- Bengin main -->
	  <main class="main">
        <%- body %>
	  </main>
  <!-- End main --> 
  <%- include('partials/footer') %>

	
	<!-- Bengin js -->
	<!-- <script src="js/jquery.min.js"></script>
	<script src="js/custom.js"></script> -->
	<!-- End js -->
</body>
</html>
