 <!-- Bengin footer -->
 <footer class="footer">
    <div class="main-footer">
    <div class="footer-category">
        <div class="footer-col">
            <div class="footer-header">
                <a href="#">Xem Lịch</a>
            </div>
            <div class="footer-nav">
                <ul class="ul">
                        <li><a href="">Lịch Âm Dương</a></li>
                        <li><a href="">Lịch Vạn Niên</a></li>
                        <li><a href="">Lịch Ngày</a></li>
                        <li><a href="">Lịch Tháng</a></li>
                        <li><a href="">Lịch Năm</a></li>
                        <li><a href="">Lịch Âm</a></li>
                        <li><a href="">Lịch Dương</a></li>
                        <li><a href="">Đổi Ngày Âm Dương</a></li>
                    <li><a href="">Sự Kiện Trong Năm</a></li>
              </ul>
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-header">
                <a href="#">Xem Bói</a>
            </div>
            <div class="footer-nav">
                <ul class="ul">
                <li><a href="#"> Lá số tử vi</a></li>
              <li><a href="#">Cân xương tính số</a></li>
              <li><a href="#">Bói tình yêu</a></li>
              <li><a href="#">Xem năm lấy chồng</a></li>
               <li><a href="#">Xem tuổi vợ chồng</a></li>
              <li><a href="#">Sinh con theo ý muốn</a></li>
              <li><a href="#">Sinh con hợp tuổi</a></li>
              <li><a href="#">Tính trùng tang</a></li>
              <li><a href="#">Xem bói ngày sinh</a></li>
              </ul>
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-header">
                <a href="#">Tử Vi</a>
            </div>
            <div class="footer-nav">
                <ul class="ul">
             <li><a href="#">Tử Vi 12 Con Giáp</a></li>
              <li><a href="#">Tử Vi Trọn Đời</a></li>
             <li><a href="#">Tử Vi Tuần</a></li>
              <li><a href="#">Tử Vi Tháng</a></li>
             <li><a href="#">Tử Vi 2023</a></li>
             <li><a href="#">Tử Vi 2022</a></li>
          </ul>
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-header">
                <a href="#">Cung Hoàng Đạo</a>
            </div>
            <div class="footer-nav">
                <ul class="ul">
                <li><a href="#">Tử vi 12 Cung Hoàng Đạo</a></li>
            <li><a href="#">Tử Vi Hàng Ngày 12 Cung Hoàng Đạo</a></li>
            <li><a href="#">Tình yêu 12 cung hoàng đạo</a></li>
            <li><a href="#">Bí Mật 12 Cung Hoàng Đạo</a></li>
            <li><a href="#">Bảng Xếp Hạng 12 Chòm Sao</a></li>
          </ul>
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-header">
                <a href="#">Xem tuổi</a>
            </div>
            <div class="footer-nav">
                <ul class="ul">
            <li><a href="#">Xem Cung Mệnh</a></li>
            <li><a href="#">Màu sắc hợp tuổi</a></li>
            <li><a href="#">Màu sắc hợp mệnh</a></li>
            <li><a href="#">Xem Sao Hạn</a></li>
            <li><a href="#">Xem Tuổi Tam tai</a></li>
            <li><a href="#">Xem Tuổi Sinh Con</a></li>
            <li><a href="#">Xem tuổi xung khắc</a></li>
          </ul>
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-header">
                <a href="#">Phong thủy</a>
            </div>
            <div class="footer-nav">
                <ul class="ul">
                <li><a href="#">Phong thuỷ nhà ở</a></li>
            <li><a href="#">Phong thuỷ cầu tài</a></li>
            <li><a href="#">Cây phong thủy</a></li>
            <li><a href="#">Kiến thức phong thuỷ</a></li>
             <li><a href="#">Thước lỗ ban</a></li>
              <li><a href="#">Xem hướng nhà</a></li>
              <li><a href="#">Xem tuổi làm nhà</a></li>
               <li><a href="#">Sim phong thủy</a></li>
          </ul>
            </div>
        </div>
    </div>
    
    </div>
<div class="footer-copyright">
    <div class="main-footer">
        <p><strong>Bản quyền thuộc về saotuvi.com</strong></p>
        <p><em>Website xem tử vi 12 con giáp, 12 cung hoàng đạo, xem ngày tốt, Tra cứu lịch âm, Xem tuổi, Phong thủy, và nhiều thông tin hữu ích khác trên.</em></p>
        <p>Địa chỉ: Tòa nhà CMC, 11 P. Duy Tân, Dịch Vọng Hậu, Cầu Giấy, Hà Nội.</p>
        <p>website: www.saotuvi.com - Email: saotuvi.com@gmail.com.</p>
        <p>
            <a class="f-social" href="#"><i class="fab fa-facebook"></i></a>
            <a class="f-social" href="#"><i class="fab fa-twitter"></i></a>
            <a class="f-social" href="#"><i class="fab fa-youtube"></i></a>
            <a class="f-social" href="#"><i class="fab fa-linkedin"></i></a>
            <a class="f-social" href="#"><i class="fab fa-instagram"></i></a>
            <a class="f-social" href="#"><i class="fab fa-pinterest"></i></a>
    </p>
        <p><a target="_blank" rel="nofollow" href="http://www.dmca.com/Protection/Status.aspx?ID=3b6cf292-b8dd-4486-a320-800277853550&amp;refurl=https://saotuvi.com/" title="DMCA.com Protection Status" class="dmca-badge"> <img src="https://images.dmca.com/Badges/_dmca_premi_badge_4.png?ID=3b6cf292-b8dd-4486-a320-800277853550" alt="DMCA.com Protection Status"> </a></p>
    </div>
</div>
    <a href="#" class="backtotop"><i class="fas fa-angle-up"></i></a>
</footer>
<!-- End footer -->

<!-- Bengin sidebardefault -->
<aside id="sidebardefault" class="sidebar-default sidebar-fixed-left">
<span type="button" class="sidebar-toggle btn-pushbar-close"><i class="fa fa-arrow-left icon-bacck"></i></span>
<nav class="nav-m">
<div class="menu-list">
            <a href="#" class="menu-title2">Trang chủ</a>
        </div>
    <div class="menu-list">
            <a href="#" class="menu-title2">Xem Lịch</a> 
            <span class="menu-icon"></span>
            <div class="menu-content">
                <ul class="ul-nav-list">
                     <li><a href="">Lịch Âm Dương</a></li>
                    <li><a href="">Lịch Vạn Niên</a></li>
                    <li><a href="">Lịch Ngày</a></li>
                    <li><a href="">Lịch Tháng</a></li>
                    <li><a href="">Lịch Năm</a></li>
                    <li><a href="">Lịch Âm</a></li>
                    <li><a href="">Lịch Dương</a></li>
                    <li><a href="">Đổi Ngày Âm Dương</a></li>
                    <li><a href="">Sự Kiện Trong Năm</a></li>
                </ul>
            </div>
        </div>
        <div class="menu-list">
            <a href="#" class="menu-title2">Xem Bói</a> 
            <span class="menu-icon"></span>
            <div class="menu-content">
                <ul class="ul-nav-list">
              <li><a href="#"> Lá số tử vi</a></li>
              <li><a href="#">Cân xương tính số</a></li>
              <li><a href="#">Bói tình yêu</a></li>
              <li><a href="#">Xem năm lấy chồng</a></li>
               <li><a href="#">Xem tuổi vợ chồng</a></li>
              <li><a href="#">Sinh con theo ý muốn</a></li>
              <li><a href="#">Sinh con hợp tuổi</a></li>
              <li><a href="#">Tính trùng tang</a></li>
              <li><a href="#">Xem bói ngày sinh</a></li>
              <li><a href="#">Thước lỗ ban</a></li>
              <li><a href="#">Xem hướng nhà</a></li>
              <li><a href="#">Xem tuổi làm nhà</a></li>
               <li><a href="#">Sim phong thủy</a></li>
                </ul>
            </div>
        </div>
        <div class="menu-list">
            <a href="#" class="menu-title2">Xem Ngày Tốt</a> 
            <span class="menu-icon"></span>
            <div class="menu-content">
                <ul class="ul-nav-list">
              <li><a href="#"> Ngày tốt theo Ngũ hành</a></li>
            <li><a href="#"> Xem giờ sinh con</a></li>
            <li><a href="#"> Xuất hành khẩn cấp</a></li>
            <li><a href="#"> Xem ngày khai trương</a></li>
            <li><a href="#"> Xem ngày cưới hỏi</a></li>
            <li><a href="#"> Xem ngày khởi công</a></li>
            <li><a href="#"> Xem ngày xuất hành</a></li>
            <li><a href="#"> Xem ngày nhập trạch</a></li>
            <li><a href="#"> Xem ngày Cất nóc</a></li>
            <li><a href="#"> Xem ngày Chôn cất</a></li>
            <li><a href="#"> Xem ngày Sinh con</a></li>
            <li><a href="#"> Xem ngày ký kết</a></li>
            <li><a href="#"> Xem ngày Hoàng đạo</a></li>
            <li><a href="#"> Ngày Đại minh cát nhật</a></li>
                </ul>
            </div>
        </div>
        <div class="menu-list">
            <a href="#" class="menu-title2">Tử Vi</a> 
            <span class="menu-icon"></span>
            <div class="menu-content">
                <ul class="ul-nav-list">
                  <li><a href="#">Tử Vi 12 Con Giáp</a></li>
                  <li><a href="#">Tử Vi Trọn Đời</a></li>
                 <li><a href="#">Tử Vi Tuần</a></li>
                  <li><a href="#">Tử Vi Tháng</a></li>
                 <li><a href="#">Tử Vi 2023</a></li>
                </ul>
            </div>
        </div>
        <div class="menu-list">
            <a href="#" class="menu-title2">Cung Hoàng Đạo</a> 
            <span class="menu-icon"></span>
            <div class="menu-content">
                <ul class="ul-nav-list">
                     <li><a href="#">Tử vi 12 Cung Hoàng Đạo</a></li>
            <li><a href="#">Tử Vi Hàng Ngày 12 Cung Hoàng Đạo</a></li>
            <li><a href="#">Tình yêu 12 cung hoàng đạo</a></li>
            <li><a href="#">Bí Mật 12 Cung Hoàng Đạo</a></li>
            <li><a href="#">Bảng Xếp Hạng 12 Chòm Sao</a></li>
                </ul>
            </div>
        </div>
        <div class="menu-list">
            <a href="#" class="menu-title2">Xem Tuổi</a> 
            <span class="menu-icon"></span>
            <div class="menu-content">
                <ul class="ul-nav-list">
                 <li><a href="#">Xem Cung Mệnh</a></li>
            <li><a href="#">Màu sắc hợp tuổi</a></li>
            <li><a href="#">Màu sắc hợp mệnh</a></li>
            <li><a href="#">Xem Sao Hạn</a></li>
            <li><a href="#">Xem Tuổi Tam tai</a></li>
            <li><a href="#">Xem Tuổi Sinh Con</a></li>
            <li><a href="#">Xem tuổi xung khắc</a></li>
                </ul>
            </div>
        </div>
    <div class="menu-list">
            <a href="#" class="menu-title2">Phong Thủy</a> 
            <span class="menu-icon"></span>
            <div class="menu-content">
                <ul class="ul-nav-list">
                  <li><a href="#">Phong thuỷ nhà ở</a></li>
            <li><a href="#">Phong thuỷ cầu tài</a></li>
            <li><a href="#">Cây phong thủy</a></li>
            <li><a href="#">Kiến thức phong thuỷ</a></li>
                </ul>
            </div>
        </div>
    <div class="menu-list">
            <a href="#" class="menu-title2">Nhân Tướng</a> 
            <span class="menu-icon"></span>
            <div class="menu-content">
                <ul class="ul-nav-list">
                      <li><a href="#">Tướng Bàn Tay</a></li>
            <li><a href="#">Tướng Khuôn Mặt</a></li>
            <li><a href="#">Tướng Người</a></li>
            <li><a href="#">Tướng Nốt Ruồi</a></li>
                </ul>
            </div>
        </div>
        <div class="menu-list">
            <a href="#" class="menu-title2">Tâm Linh</a> 
            <span class="menu-icon"></span>
            <div class="menu-content">
                <ul class="ul-nav-list">
            <li><a href="#">Lời phật dạy</a></li>
            <li><a href="#">Kinh Dịch</a></li>
              <li><a href="#">Văn Khấn</a></li>
              <li><a href="#">Giải mã giấc mơ</a></li>
              <li><a href="#">Con số may mắn</a></li>
          </ul>
            </div>
        </div>
<div class="menu-list">
            <a href="#" class="menu-title2">Khác</a> 
            <span class="menu-icon"></span>
            <div class="menu-content">
                <ul class="ul-nav-list">
             <li><a href="#">Tứ trụ</a></li>
                <li><a href="#">Bát tự</a></li>
                <li><a href="#">Chiêm tinh học</a></li>
               <li><a href="#">Ngày Tết</a></li>
              <li><a href="#">Danh Ngôn</a></li>
          </ul>
            </div>
        </div>
</nav>
</aside>
<div class="sidebar-overlay"></div>
<!-- End sidebardefault -->