<!-- Bengin header -->
<header class="header">
    <button class="sidebar-toggle btn-pushbar-3"><i class="fas fa-bars"></i></button>
    <div class="header-logo">
      <a href="#"><img alt="logo" src="images/logo.svg"/></a>
  </div>
    <div class="header-search">
      <form class="form-search">
          <input class="input fullsearch" name="search" placeholder="Tìm kiếm chủ đề..." type="text">
          <span class="search-group"><i class="fa fa-search"></i></span>
      </form>
  </div>
    <div class="header-right">
      <div class="time-now"><%- currentDate%></div>
  </div>
</header>
<!-- End header--> 
<!-- Bengin nav-main -->
<nav class="nav-main" id="navsticky">
      <ul class="nav-menu">
                  <li><a href="1.trang-chu.html" class=""><i class="fas fa-home"></i></a></li>
                  <li><a href="6.lich-van-nien.html" class="">Xem Lịch</a>
                    <ul>
                      <li><a href="5.lich-am-duong.html">Lịch Âm Dương</a></li>
                      <li><a href="6.lich-van-nien.html">Lịch Vạn Niên</a></li>
                      <li><a href="7.lich-ngay.html">Lịch Ngày</a></li>
                      <li><a href="8.lich-thang.html">Lịch Tháng</a></li>
                      <li><a href="9.lich-nam.html">Lịch Năm</a></li>
                      <li><a href="12.doi-ngay-am-duong.html">Đổi Ngày Âm Dương</a></li>
                      <li><a href="13.su-kien-trong-nam.html">Sự Kiện Trong Năm</a></li>
                      <li><a href="14.xem-ngay-tot-xau.html">Xem Ngày Tốt Xấu</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Xem Bói</a>
                    <ul>
                       <li><a href="#"> Lá số tử vi</a></li>
                        <li><a href="#">Cân xương tính số</a></li>
                        <li><a href="#">Bói tình yêu</a></li>
                        <li><a href="#">Xem năm lấy chồng</a></li>
                         <li><a href="#">Xem tuổi vợ chồng</a></li>
                        <li><a href="#">Sinh con theo ý muốn</a></li>
                        <li><a href="#">Sinh con hợp tuổi</a></li>
                        <li><a href="#">Tính trùng tang</a></li>
                        <li><a href="#">Xem bói ngày sinh</a></li>
                        <li><a href="#">Thước lỗ ban</a></li>
                        <li><a href="#">Xem hướng nhà</a></li>
                        <li><a href="#">Xem tuổi làm nhà</a></li>
                         <li><a href="#">Sim phong thủy</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Xem Ngày Tốt</a>
                    <ul>
                      <li><a href="#"> Ngày tốt theo Ngũ hành</a></li>
                      <li><a href="#"> Xem giờ sinh con</a></li>
                      <li><a href="#"> Xuất hành khẩn cấp</a></li>
                      <li><a href="#"> Xem ngày khai trương</a></li>
                      <li><a href="#"> Xem ngày cưới hỏi</a></li>
                      <li><a href="#"> Xem ngày khởi công</a></li>
                      <li><a href="#"> Xem ngày xuất hành</a></li>
                      <li><a href="#"> Xem ngày nhập trạch</a></li>
                      <li><a href="#"> Xem ngày Cất nóc</a></li>
                      <li><a href="#"> Xem ngày Chôn cất</a></li>
                      <li><a href="#"> Xem ngày Sinh con</a></li>
                      <li><a href="#"> Xem ngày ký kết</a></li>
                      <li><a href="#"> Xem ngày Hoàng đạo</a></li>
                      <li><a href="#"> Ngày Đại minh cát nhật</a></li>
                    </ul>
                  </li>
          
                  <li><a href="2.tu-vi.html" class="">Tử vi</a>
                    <ul>
                        <li><a href="#">Tử Vi 12 Con Giáp</a></li>
                        <li><a href="#">Tử Vi Trọn Đời</a></li>
                       <li><a href="#">Tử Vi Tuần</a></li>
                        <li><a href="#">Tử Vi Tháng</a></li>
                       <li><a href="#">Tử Vi 2023</a></li>
                    </ul>
                  </li>
              <li><a href="3.cung-hoang-dao.html" class="">Cung Hoàng Đạo</a>
                    <ul>
                      <li><a href="#">Tử vi 12 Cung Hoàng Đạo</a></li>
                      <li><a href="#">Tử Vi Hàng Ngày 12 Cung Hoàng Đạo</a></li>
                      <li><a href="#">Tình yêu 12 cung hoàng đạo</a></li>
                      <li><a href="#">Bí Mật 12 Cung Hoàng Đạo</a></li>
                      <li><a href="#">Bảng Xếp Hạng 12 Chòm Sao</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Xem tuổi</a>
                    <ul>
                      <li><a href="#">Xem Cung Mệnh</a></li>
                      <li><a href="#">Màu sắc hợp tuổi</a></li>
                      <li><a href="#">Màu sắc hợp mệnh</a></li>
                      <li><a href="#">Xem Sao Hạn</a></li>
                      <li><a href="#">Xem Tuổi Tam tai</a></li>
                      <li><a href="#">Xem Tuổi Sinh Con</a></li>
                      <li><a href="#">Xem tuổi xung khắc</a></li>
                    </ul>
                  </li>
          <li><a href="#">Phong thủy</a>
                    <ul>
                      <li><a href="#">Phong thuỷ nhà ở</a></li>
                      <li><a href="#">Phong thuỷ cầu tài</a></li>
                      <li><a href="#">Cây phong thủy</a></li>
                      <li><a href="#">Kiến thức phong thuỷ</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Nhân Tướng</a>
                    <ul>
                      <li><a href="#">Tướng Bàn Tay</a></li>
                      <li><a href="#">Tướng Khuôn Mặt</a></li>
                      <li><a href="#">Tướng Người</a></li>
                      <li><a href="#">Tướng Nốt Ruồi</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Tâm linh</a>
                    <ul>
                      <li><a href="#">Lời phật dạy</a></li>
                      <li><a href="#">Kinh Dịch</a></li>
                        <li><a href="#">Văn Khấn</a></li>
                        <li><a href="#">Giải mã giấc mơ</a></li>
                        <li><a href="#">Con số may mắn</a></li>
                    </ul>
                  </li>
              <li><a href="#">Khác</a>
                    <ul>
                        <li><a href="#">Tứ trụ</a></li>
                          <li><a href="#">Bát tự</a></li>
                          <li><a href="#">Chiêm tinh học</a></li>
                         <li><a href="#">Ngày Tết</a></li>
                        <li><a href="#">Danh Ngôn</a></li>
                    </ul>
                  </li>
                </ul>
</nav>