<!DOCTYPE HTML>
<html>
    <head>
        <title>Hệ thống quản trị nội dung saotuvi.com</title>
    </head>
    <body>
        <div class="container">
            <%- body %>
        </div>
    </body>
</html>